// COLORES

$azul-fuerte: #1E88E5;
$azul-intermedio: #4fa8fb;
$azul-clarito: #95e7fc;
$texto: #343434;


// FONTS

$titulos: 'Alegreya Sans', sans-serif;
$subtitulos: 'Lato', sans-serif;
$parrafos: 'Mulish', sans-serif;
$negrita: 700 ;