@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixins";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #95e7fc;
}

.ventana-inicio{
    background-color: #1E88E5;
    height: 750px;
}

.ventana-inicio p{
    text-align: center;
    line-height: 700px;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 200px;
}




/* FOOTER */


footer{
    width: 100%;
    background-color: #4fa8fb;

}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    align-items: center;
}

.box__footer{
    display:flex;
    flex-direction: column;
}

.box__footer .logo__footer img{
    width: 300px;
    height: 300px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer .terminos{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #343434;
    font-size: 18px;
    
}

.box__footer a{
    margin-top: 10px;
    color: #343434;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.5;
}

.box-copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    border-radius: none
}

.container__footer .box-copyright{
    border-radius: none;
}

.box-copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box-copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

.box__footer h2{
    font-size: 30px;
}

